.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 70%;
  background-color: white;
  border-radius: 2%;
  margin-top: 2rem;
  margin-left: 14rem;
  padding-bottom: 2rem;
}

.profile {
  display: flex;
}
.new {
  background-color: hsl(180, 29%, 50%);
  border-radius: 25%;
  margin-left: 1rem;
  color: white;
  font-size: 15px;
  font-weight: 500, 700;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.photosnap {
  color: hsl(180, 29%, 50%);
  font-size: 15px;
  font-weight: 500, 700;
}
.featured {
  background-color: hsl(180, 14%, 20%);
  border-radius: 25%;
  margin-left: 1rem;
  color: white;
  font-size: 15px;
  font-weight: 500, 700;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.flex {
  display: flex;
  flex-direction: column-reverse;
}

.elements {
  margin-left: -23rem;
  margin-top: 1rem;
}

.inline {
  display: inline;
}
.time {
  margin-left: 1.5rem;
}
.location {
  margin-left: 1.5rem;
}

.features {
  margin-left: -28rem;
  color: hsl(180, 29%, 50%);
  margin-top: -2rem;
}

.aligned {
  display: inline;
}

.position {
  font-family: "Spartan", sans-serif;
  /* font-size: 16px; */
  margin-left: 2rem;
}

.logo {
  margin-top: 5rem;
  margin-left: 2rem;
}

body {
  background-color: hsl(180, 52%, 96%);
}

.languages {
  margin-top: -2rem;
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  margin-left: 20rem;
}
.level {
  margin-left: 1rem;
  background-color: hsl(180, 52%, 96%);
  padding-top: 0.3rem;
  padding-bottom: 0.4rem;
  padding-right: 0.4rem;
  padding-left: 0.3rem;
  border-radius: 10%;
  color: hsl(180, 29%, 50%);
  font-weight: bold;
  font-family: "Spartan", sans-serif;
  font-size: 12px;
}
.role {
  background-color: hsl(180, 52%, 96%);
  padding-top: 0.3rem;
  padding-bottom: 0.4rem;
  padding-right: 0.4rem;
  padding-left: 0.3rem;
  border-radius: 10%;
  color: hsl(180, 29%, 50%);
  font-weight: bold;
  font-family: "Spartan", sans-serif;
  font-size: 12px;
}
.lges {
  margin-left: 1rem;
  background-color: hsl(180, 52%, 96%);
  padding-top: 0.3rem;
  padding-bottom: 0.4rem;
  padding-right: 0.4rem;
  padding-left: 0.3rem;
  border-radius: 10%;
  color: hsl(180, 29%, 50%);
  font-weight: bold;
  font-family: "Spartan", sans-serif;
  font-size: 12px;
}
